@model Obligatorio.Models.Pelicula

<div>

    <div>
        <a id="closebtn" class="close">×</a>
        <h4 class="modal-title" id="myModalLabel">Detalles</h4>
    </div>

    <hr />
    <dl class="dl-horizontal">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
    </dl>
    <dl>
        <dt>Horarios</dt>
        @if (Model.OpcionesModeloHorarios.Count > 0)
        {
            @foreach (var item in Model.OpcionesModeloHorarios)
            {
                <dd>
                    @Html.ActionLink(item.Fecha.ToString(), "Create","Reservas", item)
                </dd>
            }
        }
        else
        {
            <p>No tiene Horarios!</p>
        }

    </dl>
</div>
