@model IEnumerable<Obligatorio.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}
@{
    if (ViewBag.UsuarioCookie.Correo == "Admin@Admin.com")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout3.cshtml";
    }
}

<h1>Index</h1>
@if (ViewBag.UsuarioCookie.Correo == "Admin@Admin.com")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-controller="Peliculas" asp-action="Index">
    <p class="text-center fw-bold">
        Buscar Pelicula: <input type="text" name="buscar" class="form-text mb-3 me-2" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-success fw-bold" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (ViewBag.UsuarioCookie.Correo == "Admin@Admin.com")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">| Edit |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
