@model IEnumerable<Obligatorio.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Horario!.Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario!.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asientos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Horario!.Pelicula!.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario!.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario!.Sala!.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asientos)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
